$icon-font-path:"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
 @import'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
 // bower:scss @import"../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
 // endbower
/*check in tables*/
 .check-in {
    cursor: pointer;
}
.check-in:hover {
    p {
        font-weight: bold;
    }
}
.check-hover {
    cursor: pointer;
    font-weight: bold;
}
/*Nav */
 nav {
    z-index: 1000;
    background-color:none;
    .nav-background {
        position:absolute;
        bottom: 0;
        width:100%;
        height: 77px;
        opacity: 0.4;
        background: -moz-linear-gradient(-45deg, rgba(255, 48, 25, 0) 0%, rgba(255, 48, 25, 0.39) 49%, rgba(122, 2, 2, 0.8) 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 48, 25, 0)), color-stop(49%, rgba(255, 48, 25, 0.39)), color-stop(100%, rgba(122, 2, 2, 0.8)));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg, rgba(255, 48, 25, 0) 0%, rgba(255, 48, 25, 0.39) 49%, rgba(122, 2, 2, 0.8) 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg, rgba(255, 48, 25, 0) 0%, rgba(255, 48, 25, 0.39) 49%, rgba(122, 2, 2, 0.8) 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg, rgba(255, 48, 25, 0) 0%, rgba(255, 48, 25, 0.39) 49%, rgba(122, 2, 2, 0.8) 100%);
        /* IE10+ */
        background: linear-gradient(135deg, rgba(255, 48, 25, 0) 0%, rgba(255, 48, 25, 0.39) 49%, rgba(122, 2, 2, 0.8) 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff3019', endColorstr='#cc7a0202', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
    }
    ul {
        overflow: none;
        padding-right: 5%;
        li.nav-img {
            height:50px;
            img {
                top: -10px;
            }
        }
        button.btn-cirlce {
            position:relative;
            top: 40px;
            height:40px;
            width:40px;
            border-radius: 50%;
        }
    }
    .container-fluid {
        //z-index: 100 !important;
    }
}
.nav-pointer {
    cursor: pointer;
}
.nav-picture {
    left:5px;
}
/*Side Menu*/
 #sidebar {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 80px;
    z-index: 990;
}
/*side menu animation */
 .animate-sidemenu {
    background:white;
    padding:10px;
}
.animate-sidemenu.ng-enter, .animate-sidemenu.ng-leave {
    -webkit-transition:all ease 0.7s;
    -moz-transition:all ease 0.7s;
    -o-transition:all ease 0.7s;
    transition:all ease 0.7s;
}
.animate-sidemenu.ng-enter, .animate-sidemenu.ng-leave.ng-leave-active {
    max-width: 0;
    left: -1px;
    overflow: hidden;
    transform: translateX(-50px);
}
.animate-sidemenu.ng-leave, .animate-sidemenu.ng-enter.ng-enter-active {
    opacity:1;
    max-width: 100%;
    transform: translateX(0);
}
.animate-nav-color.ng-enter, .animate-nav-color.ng-leave {
    -webkit-transition:all ease 0.7s;
    -moz-transition:all ease 0.7s;
    -o-transition:all ease 0.7s;
    transition:all ease 0.7s;
}
.animate-nav-color.ng-enter, .animate-nav-color.ng-leave.ng-leave-active {
    max-width: 0;
    max-height: 0;
    opacity: 0;
    right: 6%;
    bottom: 0;
    overflow: hidden;
    transform: translate(10%, 0);
    border-radius: 0 100% 0;
}
.animate-nav-color.ng-leave, .animate-nav-color.ng-enter.ng-enter-active {
    opacity:0.4;
    max-width: 100%;
    right: 0;
    max-height: 100%;
    transform: translate(0);
    border-radius: 0;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*Event Form*/
 #event-form {
    .alert {
        padding: 0 10px;
    }
}
/* Space out content a bit */
 body {
    padding-top: 80px;
    padding-bottom: 20px;
}
/*Profile Styling*/
 #profilecard {
    .header-space-background {
        margin: 0 -10px;
        margin-top: -2px;
        height: 135px;
        .name-container {
            position:relative;
            top: 90px;
            background-color:rgba(0, 0, 0, 0.3);
            h1 {
                margin: 0;
            }
        }
    }
    .tabset {
        margin: 0 -10px;
        a {
            border-radius: 0;
        }
        li {
            display: table-cell;
            width:1%;
        }
    }
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    /*Cards*/
    .card {
        padding: 2%;
    }
    /*Profile Styling*/
    #profilecard {
        .header-space-background {
            margin: 0 -15px;
            margin-top: -2px;
            height: 150px;
            .name-container {
                position:relative;
                top: 90px;
                background-color:rgba(0, 0, 0, 0.3);
                h1 {
                    margin: 0;
                }
            }
        }
        .tabset {
            margin: 0 -15px;
            .glyphicon {
                margin-left: 3px;
            }
        }
    }
}
/*Animations 
//Fade */
 .animate-fade {
}
.animate-fade.ng-enter, .animate-fade.ng-leave {
    -webkit-transition:all ease 2s;
    -moz-transition:all ease 2s;
    -o-transition:all ease 2s;
    transition:all ease 2s;
}
.animate-fade.ng-enter, .animate-fade.ng-leave.ng-leave-active {
    opacity: 0;
}
.animate-fade.ng-leave, .animate-fade.ng-enter.ng-enter-active {
    opacity:1;
}
/*NG Repeat */
 .animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}
.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:40px;
}
/*Angularfire Simple Login CSS*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*Shadows*/
 .paper-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
}
.paper-shadow-animated.paper-shadow {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-shadow-top-z-1 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.paper-shadow-bottom-z-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.paper-shadow-top-z-2 {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow-bottom-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.paper-shadow-top-z-3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow-bottom-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.paper-shadow-top-z-4 {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.paper-shadow-bottom-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.paper-shadow-top-z-5 {
    box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.paper-shadow-bottom-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.paper-shadow-animate-z-1-z-2.paper-shadow-top {
    -webkit-transition: none;
    -webkit-animation: animate-shadow-top-z-1-z-2 0.7s infinite alternate;
}
.paper-shadow-animate-z-1-z-2 .paper-shadow-bottom {
    -webkit-transition: none;
    -webkit-animation: animate-shadow-bottom-z-1-z-2 0.7s infinite alternate;
}
@-webkit-keyframes animate-shadow-top-z-1-z-2 {
    0% {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }
    100% {
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@-webkit-keyframes animate-shadow-bottom-z-1-z-2 {
    0% {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    100% {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
}
/*animate button lift*/
 .animate-button-lift {
}
.animate-button-lift.ng-enter, .animate-button-lift.ng-leave {
    -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.animate-button-lift.ng-enter, .animate-button-lift.ng-leave.ng-leave-active {
    box-shadow: none;
}
.animate-button-lift.ng-leave, .animate-button-lift.ng-enter.ng-enter-active {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/*ui.bootstrap styling*/
 .nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
