$icon-font-path:"/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
 $Roboto:'Roboto Condensed', sans-serif;
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/*check in tables*/

.check-in {
    cursor: pointer;
}
.check-in:hover {
    p {
        font-weight: bold;
    }
}
.check-hover {
    cursor: pointer;
    font-weight: bold;
}
/*Nav */

nav {
    z-index: 900;
    background-color: none;
    ul {
        overflow: none;
        li.nav-img {
            height: 50px;
            img {
                top: -10px;
                margin: 7px;
            }
        }
        li.nav-title {
            margin-left: 40%;
        }
        button.btn-cirlce {
            position: relative;
            top: 40px;
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    }
    .container-fluid {
        //z-index: 100 !important;

    }
}
.nav-img-holder {
    position: absolute;
    margin-top: 4px;
    margin-left: 0;
}
.img-circle-parent {
    position: absolute;
    margin-left: 0;
}
.nav-img-slide {
    position: absolute;
    margin-left: 0;
}
.nav-pointer {
    cursor: pointer;
}
.nav-picture {
    left: 5px;
}
/*Side Menu*/

#sidebar {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    height: 99%;
    padding-top: 50px;
    z-index: 990;
    .sidemenu-container {
        overflow: hidden;
    }
    img.img-circle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000 !important;
    }
}
/*side menu animation */

.sidebar-offcanvas {
    overflow: hidden;
    width: 50px;
    left: 0;
    transform: translateX(-47px);
}
.sidebar-fold {
    display: none;
}
/*Message Pane*/

#message-pane {
    position: fixed;
    background: white;
    overflow: hidden;
    top: 0;
    right: 0;
    padding-top: 50px;
    z-index: 990;
    .msg-pane-container {
        overflow: hidden;
    }
    .messageCont {
        height: 1000px;
    }
    .message-type-bottom {
        position: absolute;
        background: white;
        bottom: 0;
        width: 100%;
        padding-bottom: 7px;
    }
}
/*message pane animation */

.msg-pane-offcanvas {
    overflow: hidden;
    height: 50px;
    width: 50px;
    border-radius: 0 0 0 100%;
    -ms-transform: translate(10px, -100px);
    /* IE 9 */
    -webkit-transform: translate(10px, -100px);
    /* Chrome, Safari, Opera */
    transform: translate(10px, -100px);
}
.msg-pane-oncanvas {
    overflow: hidden;
    height: 99%;
    transform: translateX(0);
}
.animate-swift-out {
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -o-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    /* custom */
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/*Event Form*/

.form-view {
    border-width: 3px;
}
.form-container {
    display: inline-block;
}
#event-form {
    form {
        display: inline-block;
        .color-picker {
            button {
                text-shadow: 0 0 #FFF;
            }
        }
    }
    .alert {
        padding: 0 10px;
    }
}
/*Agenda*/

#agenda {
    .accordion-toggle {
        width: 100%;
    }
    .agenda-container {
        display: inline-block;
        width: 100%;
    }
}
/*Mission Control*/

.mission-map {
    min-height: 500px;
    height: 100%;
}
/* Space out content a bit */

body {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: $Roboto;
}
.inline-block {
    display: inline-block;
}
/*View Animations*/

.sub-view-animate.ng-enter, .sub-view-animate.ng-leave {
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -o-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    /* custom */
}
.sub-view-animate.ng-enter {
    transform: translate(-100%, 0);
}
.sub-view-animate.ng-enter.ng-enter-active {
    transform: translate(0);
    opacity: 1;
}
.sub-view-animate.ng-leave.ng-leave-active {
    transform: translate(0, 100%);
    opacity: 0;
}
/*Profile Styling*/

#profilecard {
    .header-space-background {
        overflow: hidden;
        margin: 0 -10px;
        margin-top: -2px;
        height: 135px;
        .name-container {
            position: relative;
            top: 96px;
            display: block;
            height: 60px;
            background-color: rgba(0, 0, 0, 0.3);
            h1 {
                color: white;
                margin: 0;
                right: 0;
                padding-right: 5px;
            }
        }
    }
    ul.nav {
        overflow: hidden;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }
    .tabset {
        height: 100%;
        .page-header {
            padding: 0;
        }
        margin:0 -10px;
        li {
            border-bottom-style: solid;
        }
        li.active {
            border-bottom-color: red;
        }
        a {
            border-radius: 0;
            margin-bottom: 0;
        }
        li {
            display: table-cell;
            width: 1%;
        }
        .content-holder {
            border-bottom: 1px solid blue;
            margin-bottom: 10px;
            overflow: hidden;
        }
        div.line {
            padding-top: 5px;
            border-bottom: 1px solid #eeeeee;
            h4 {
                margin-bottom: 0;
                color: #CCCCCC;
                text-decoration: capitalize;
            }
        }
        .p {
            margin-bottom: 15px;
        }
        h4.panel {
            overflow: hidden;
            padding: 2px 0;
            .label {
                margin-right: 10px;
            }
        }
    }
    hr {
        margin-right: 0;
        margin-left: 0;
        height: 1px;
    }
}
/*MAP*/

.map-canvas {
    height: 300px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
    /*Cards*/
    .card {
        padding: 2%;
    }
    /*Nav*/
    .img-circle-parent {
        margin-left: 5%;
    }
    .nav-img-slide {
        margin-left: 0;
    }
    /*Profile Styling*/
    #profilecard {
        .header-space-background {
            margin: 0 -15px;
            margin-top: -2px;
            height: 150px;
            .name-container {
                position: relative;
                top: 96px;
                background-color: rgba(0, 0, 0, 0.3);
                h1 {
                    margin: 0;
                }
            }
        }
        .tabset {
            margin: 0 -15px;
            .glyphicon {
                margin-left: 3px;
            }
        }
    }
    /*Desktop animations*/
    .animate-sidemenu.ng-enter, .animate-sidemenu.ng-leave {
        -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1);
        /* older webkit */
        -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
        -moz-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
        -o-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
        transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
        /* custom */
    }
    .animate-sidemenu.ng-enter, .animate-sidemenu.ng-leave.ng-leave-active {
        max-width: 50%;
        left: -1px;
        overflow: hidden;
        transform: translateX(-50px);
    }
    .animate-sidemenu.ng-leave, .animate-sidemenu.ng-enter.ng-enter-active {
        max-width: 100%;
        transform: translateX(0);
    }
}
/*Animations 
//Fade */

.animate-fade {} .animate-fade.ng-enter, .animate-fade.ng-leave {
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -moz-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    -o-transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    transition: all 500ms cubic-bezier(0.410, 0.000, 0.115, 1.005);
    /* custom */
}
.animate-fade.ng-enter, .animate-fade.ng-leave.ng-leave-active {
    opacity: 0;
}
.animate-fade.ng-leave, .animate-fade.ng-enter.ng-enter-active {
    opacity: 1;
}
/*NG Repeat */

.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
}
.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 40px;
}
/*Angularfire Simple Login CSS*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*Shadows*/

.paper-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
}
.paper-shadow-animated.paper-shadow {
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.paper-shadow-top-z-1 {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
.paper-shadow-bottom-z-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.paper-shadow-top-z-2 {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow-bottom-z-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.paper-shadow-top-z-3 {
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.paper-shadow-bottom-z-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
.paper-shadow-top-z-4 {
    box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.paper-shadow-bottom-z-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
}
.paper-shadow-top-z-5 {
    box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.paper-shadow-bottom-z-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2);
}
.paper-shadow-animate-z-1-z-2.paper-shadow-top {
    -webkit-transition: none;
    -webkit-animation: animate-shadow-top-z-1-z-2 0.7s infinite alternate;
}
.paper-shadow-animate-z-1-z-2 .paper-shadow-bottom {
    -webkit-transition: none;
    -webkit-animation: animate-shadow-bottom-z-1-z-2 0.7s infinite alternate;
}
@-webkit-keyframes animate-shadow-top-z-1-z-2 {
    0% {
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }
    100% {
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}
@-webkit-keyframes animate-shadow-bottom-z-1-z-2 {
    0% {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    100% {
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    }
}
/*animate button lift*/

.animate-button-lift {} .animate-button-lift.ng-enter, .animate-button-lift.ng-leave {
    -webkit-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.animate-button-lift.ng-enter, .animate-button-lift.ng-leave.ng-leave-active {
    box-shadow: none;
}
.animate-button-lift.ng-leave, .animate-button-lift.ng-enter.ng-enter-active {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}
/*ui.bootstrap styling*/

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
