<p>This is the check-in view.</p>
<h1>Firetodo</h1>

  <input type="text" id="username"> <button id="login">login</button> <span id="token"></span><br><br>

  <div class="wrapper">

    <div class="todolist">
      Alice's Todo list
      <ul id="alice-list"></ul>
      <div>
        <input id="alice-todo" type="text"/>
        <button id="alice-add">Add</button>
      </div>
    </div>

    <div class="todolist">
      Bob's Todo list
      <ul id="bob-list"></ul>
      <div>
        <input id="bob-todo" type="text"/>
        <button id="bob-add">Add</button>
      </div>
    </div>

    <div class="todolist">
      Carol's Todo list
      <ul id="carol-list"></ul>
      <div>
        <input id="carol-todo" type="text"/>
        <button id="carol-add">Add</button>
      </div>
    </div>

  </div>
