<div class="panel panel-info col-sm-12">
    <h1>Create Event</h1>
    <form id="event-form">
        <!-- removed attr: ng-submit="submitEvent()" -->
        <div class="form-group">
            <input class="form-control" name="id" type="text" ng-model="eventForm.id" placeholder="Event ID">
        </div>
        <div class="form-group">
            <input class="form-control" name="client" type="text" ng-model="eventForm.client" placeholder="Client/ Caterer">
        </div>
        <div ng-form name="contactForm" class="form-group">
            <div class="col-sm-6">
                <input class="form-control" name="contactName" type="text" ng-model="eventForm.contactName" placeholder="Contact Name">
            </div>

            <div class="col-sm-6">
                <input class="form-control" name="contactCell" type="number" ng-model="eventForm.contactCell" placeholder="Contact Cell #">
            </div>
            </br>
        </div>
        </br>
        <div class="form-group">
            <input class="form-control" name="address" type="address" ng-model="eventForm.address" placeholder="Meet Address">
            <input class="form-control" name="travelAddress" type="address" ng-model="eventForm.travelAddress" placeholder="Travel Address">
        </div>
        <div class="form-group">
            <input class="form-control" name="uniform" type="text" ng-model="eventForm.uniform" placeholder="Uniform">
        </div>
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" name="staff quota" type="number" ng-model="eventForm.staffQuota" placeholder="Staff Quota">
                <span class="input-group-addon alert" ng-class="{'alert-warning': staffArray.length !== eventForm.staffQuota, 'alert-success': staffArray.length == eventForm.staffQuota}">Number of Staff Added: <b>{{' ' + staffArray.length}}</b>
                </span>
            </div>
        </div>
        <button class="btn btn-primary btn-block" ng-click="showStaffForm()" ng-if="staffCollapse">Add Staff</button>

        <div collapse="staffCollapse">
            <form name="staffForm">
                <input class="form-control" name="name" ng-model="staffForm.name" type="text" placeholder="Name">
                <input class="form-control" name="position" ng-model="staffForm.position" type="text" placeholder="Position">
                <input class="form-control" name="phone" ng-model="staffForm.cell" type="number" min="10" placeholder="Phone Number">
                <input class="form-control" name="callTime" ng-model="staffForm.callTime" type="text" placeholder="Call Time">
                <button class="btn btn-success btn-block" ng-click="addStaff(staffForm)">Submit Staff</button>
            </form>
        </div>
        <div>
            <ul ng-repeat="staff in eventForm.staffList">
                <li>{{staff.name}}</li>
            </ul>
        </div>
        <!-- <input type="submit" class="btn btn-primary btn-block" /> -->
        <br/>
        <button class="btn btn-primary btn-block" ng-click="submitEvent()">Create Event</button>
        <br/>
    </form>
</div>
