<div>
    <div class="panel panel-info col-sm-12">
        <h1>Create Event
            <button class="btn btn-info pull-right">Save As Template</button>
        </h1>
        <hr>
        <form id="event-form">
            <!-- removed attr: ng-submit="submitEvent()" -->
            <span ng-init="eventForm.creator = $session.user.uid"></span>
            <span ng-init="geocoderInit()"></span>
            <div class="form-group col-sm-6">
                <input class="form-control" name="eventAdmin" type="text" ng-model="eventForm.eventAdmin" placeholder="Event Admin">
            </div>
            <div class="form-group col-sm-6">
                <input class="form-control" name="staffAdmin" type="text" ng-model="eventForm.staffAdmin" placeholder="Staff Admin">
            </div>
            <div class="form-group col-sm-6">
                <input class="form-control" name="id" type="text" ng-model="eventForm.calendar.id" placeholder="Event ID" ng-required>
            </div>
            <div class="form-group col-sm-6">
                <input class="form-control" name="title" type="text" ng-model="eventForm.calendar.title" placeholder="Event Title" ng-required>
            </div>
            <div class="form-group col-sm-6">
                <textarea class="form-control" name="admin-notes" type="text" ng-model="eventForm.adminNotes" placeholder="Notes for Admins"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <textarea class="form-control" name="event-notes" type="text" ng-model="eventForm.eventNotes" placeholder="Notes for Event"></textarea>
            </div>
            <!-- <div class="col-md-12">
            
                <p>{{eventForm.calendar.start | date:'fullDate' }}</p>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="eventForm.calendar.start" is-open="opened" min-date="minDate" show-weeks="true" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" placeholder="yyyy-mm-dd" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div> -->

            <div class="col-xs-6">

                <div class="dropdown" on-toggle="calStartToggled(open)">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="eventForm.calendar.start" placeholder="Start time..." ng-required>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="eventForm.calendar.start" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">

                <div class="dropdown" on-toggle="calStartToggled(open)">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="eventForm.calendar.end" placeholder="End time...">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="eventForm.calendar.end" data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6">
                <p>{{eventForm.calendar.start | date:'fullDate' }}</p>
                <p>Start Time: {{eventForm.calendar.start | date:'mediumTime'}}</p>
                <timepicker ng-model="eventForm.calendar.start" ng-change="changed()" minute-step="5" ng-disabled="!eventForm.calendar.start"></timepicker>
            </div>
            <div class="col-xs-6">
                <p>{{eventForm.calendar.end | date:'fullDate' }}</p>
                <p>End Time: {{eventForm.calendar.end | date:'mediumTime' }}</p>
                <timepicker ng-model="eventForm.calendar.end" ng-change="changed()" minute-step="5"></timepicker>
            </div>
            <!-- <div class="col-xs-12">
                <button class="btn btn-block btn-primary" ng-click="toggleColorForm()">Choose Colors</button>
            </div>
            <div collapse="colorCollapse" class="form-group col-sm-12"> -->
            <div class="col-xs-3">
                <button class="btn btn-block" ng-style="{'background-color': eventForm.calendar.color}" colorpicker type="text" ng-model="eventForm.calendar.color"><b>Event Color</b>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block" ng-style="{'background-color': eventForm.calendar.backgroundColor}" colorpicker type="text" ng-model="eventForm.calendar.backgroundColor"><b>Background Color</b>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block" ng-style="{'background-color': eventForm.calendar.borderColor}" colorpicker type="text" ng-model="eventForm.calendar.borderColor"><b>Border Color</b>
                </button>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-block" ng-style="{'background-color': eventForm.calendar.textColor}" colorpicker type="text" ng-model="eventForm.calendar.textColor"><b>Text Color</b>
                </button>
            </div>
            <!-- </div> -->
            <div class="form-group col-sm-12">
                <input class="form-control" name="client" type="text" ng-model="eventForm.adminOnly.client" placeholder="Client">
            </div>
            <div class="form-group col-sm-12">
                <input class="form-control" name="company" type="text" ng-model="eventForm.company" placeholder="Company">
            </div>
            <div class="panel warning">
                <div class="form-group col-sm-6">
                    <input class="form-control" name="contactName" type="text" ng-model="eventForm.adminOnly.contactName" placeholder="Contact Name">
                </div>
                <div class="form-group col-sm-6">
                    <input class="form-control" name="contactCell" type="number" ng-model="eventForm.adminOnly.contactCell" placeholder="Contact Cell #">
                </div>
            </div>
            <div class="form-group col-sm-12">
                <input class="form-control" name="address" type="address" ng-model="eventForm.address" placeholder="Meet Address" ng-blur="codeAddress(eventForm.address)">
                <textarea name="address notes" id="" class="form-control" ng-model="eventForm.addressNotes" rows="4" placeholder="Notes for Address..."></textarea>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-block btn-info" ng-click="toggleTravelForm()">Travel?</button>
            </div>
            <div collapse="travelCollapse" class="form-group col-sm-12">
                <input class="form-control" name="travelAddress" type="address" ng-model="eventForm.travelAddress" placeholder="Travel Address" ng-blur="codeTravelAddress(eventForm.travelAddress)">
                <textarea name="address notes" id="" class="form-control" ng-model="eventForm.travelAddressNotes" rows="4" placeholder="Notes for Travel Address..."></textarea>
            </div>
            <div ng-if="eventForm.travelAddress" class="col-xs-12">
                <button class="btn btn-block btn-primary" ng-click="toggleDriverForm()">Driver</button>
            </div>
            <div ng-if="eventForm.travelAddress" collapse="driverCollapse" class="form-group col-sm-12">
                <input class="form-control" name="driver-name" type="address" ng-model="eventForm.driver.name" placeholder="Driver">
                <textarea name="address notes" id="" class="form-control" ng-model="eventForm.driver.rentalDetails" rows="4" placeholder="Notes for Driver..."></textarea>
            </div>
            <div class="form-group col-sm-12">
                <input class="form-control" name="uniform" type="text" ng-model="eventForm.uniform" placeholder="Uniform">
            </div>
            <div class="form-group col-sm-12">
                <div class="input-group">
                    <input class="form-control" name="staff quota" type="number" ng-model="eventForm.adminOnly.staffQuota" placeholder="Staff Quota">
                    <span class="input-group-addon alert animate-swift-out" ng-class="{'alert-warning': eventForm.staffList.length < eventForm.staffQuota, 'alert-success': eventForm.staffList.length >= eventForm.staffQuota}" ng-animate>Number of Staff Added: <b>{{' ' + eventForm.staffList.length}}</b>
                    </span>
                </div>
            </div>
            <div class="col-xs-6">


                <span class="col-xs-4">Call Time:</span>
                <timepicker class="col-xs-8" ng-model="eventForm.callTime" ng-change="changed()" minute-step="5" ng-disabled="!eventForm.calendar.start"></timepicker>

            </div>
            <div class="col-xs-6">
                <button class="btn btn-block" ng-click="callTimeEmit()">call time test</button>
                <p>Call Time: {{eventForm.callTime | date:'mediumTime'}}</p>
            </div>
            <div class="col-sm-12">
                <button class="btn btn-primary btn-block col-sm-12" ng-click="showStaffForm(eventForm.callTime)">Add Staff</button>
            </div>
            <div collapse="staffCollapse" class="col-sm-12">
                <form name="staffForm">
                    <input class="form-control" name="name" ng-model="staffForm.name" type="text" placeholder="Name">
                    <input class="form-control" name="position" ng-model="staffForm.position" type="text" placeholder="Position">
                    <input class="form-control" name="phone" ng-model="staffForm.cell" type="number" min="10" placeholder="Phone Number">
                    <input class="form-control" name="callTime" ng-model="staffForm.callTime" type="text" placeholder="Call Time">
                    <button class="btn btn-success btn-block" ng-click="addStaff(staffForm)">Submit Staff</button>
                </form>
            </div>
            <div>
                <ul ng-repeat="(id, staff) in staffArray">
                    <li>{{staff.name}}</li>
                </ul>
            </div>
            <!-- <input type="submit" class="btn btn-primary btn-block" /> -->
            <div class="paste-event"></div>
            <div class="form-group col-sm-12">
                <button class="btn btn-primary btn-block col-sm-12" ng-click="submitEvent()">Create Event</button>
            </div>
        </form>
        <hr>
    </div>
</div>
