<div class="panel panel-info col-sm-12">
    <h1>Create Event</h1>
    <div ng-form name="eventForm" ng-submit="submitEvent()">
        <div class="form-group">
            <input class="form-control" name="id" type="text" ng-model="eventForm.id" placeholder="Event ID">
        </div>
        <div class="form-group">
            <input class="form-control" name="client" type="text" ng-model="eventForm.client" placeholder="Client/ Caterer">
        </div>
        <div ng-form name="contactForm" class="form-group">
            <div class="col-sm-6">
                <input class="form-control" name="contactName" type="text" ng-model="eventForm.contactName" placeholder="Contact Name">
            </div>

            <div class="col-sm-6">
                <input class="form-control" name="contactCell" type="number" ng-model="eventForm.contactCell" placeholder="Contact Cell #">
            </div>
            </br>
        </div>
        </br>
        <div class="form-group">
            <input class="form-control" name="address" type="address" ng-model="eventForm.address" placeholder="Meet Address">
            <input class="form-control" name="travelAddress" type="address" ng-model="eventForm.travelAddress" placeholder="Travel Address">
        </div>
        <div class="form-group">
            <input class="form-control" name="uniform" type="text" ng-model="eventForm.uniform" placeholder="Uniform">
        </div>
        <div class="form-group">
            <input class="form-control" name="staff quota" type="number" ng-model="eventForm.staffQuota" placeholder="Staff Quota">
        </div>
        <div ng-form name="staffForm">
            <input class="form-control" name="name" ng-model="eventForm.name" type="text" placeholder="Name">
            <input class="form-control" name="position" ng-model="eventForm.position" type="text" placeholder="Position">
            <input class="form-control" name="phone" ng-model="eventForm.cell" type="number" min="10" placeholder="Phone Number">
            <input class="form-control" name="callTime" ng-model="eventForm.callTime" type="text" placeholder="Call Time">
        </div>
        <input type="submit" class="btn btn-primary btn-block" />
        <button class="btn btn-primary btn-block" ng-click="submitEvent()">Create Event</button>
    </div>
</div>
