<!-- wait for auth to resolve (avoid flashing login page before redirect -->
<nav></nav>
<div ng-cloak class="row">
    <div class="col-md-12">

        <!-- examples for fun and profit -->
        <!--<div ng-show-auth="login">{{auth.user|json}}</div>-->
        <!--<div ng-show-auth="error,logout">Logged out</div>-->
        <!--<div ng-show-auth="error">{{auth.error}}</div>-->
        <fieldset>
            <legend>Oauth</legend>
            <input ng-show-auth="logout" type="text" ng-model="user.username" placeholder="Username" class="form-control"><br/>
            <p>
                <button class="btn btn-lg btn-primary" ng-click="login('facebook')">Facebook</button>
                <button class="btn btn-lg btn-primary" ng-click="login('twitter')">Twitter</button>
            </p>
        </fieldset>
        
        <button class="btn btn-primary hidden" ng-click="register(user)">Register</button>

        

        <br />
        <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

    </div>
</div>