<nav></nav>
<div class="panel col-sm-4 hidden">
    <div class="paste-event"></div>
    <div class="event-form"></div>
</div>
<!-- Check In Div -->
<div class="panel panel-success col-sm-4">
    <div class="input-group">
        <input ng-show-auth="logout" type="text" ng-model="user.username" placeholder="Username" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="register(auth, user)">Register</button>
        </span>
    </div>

    <div class="form-group">
        <h1>Staff List</h1>
        <input class="form-control hidden" type="search" ng-model="search" placeholder="Search list...">
    </div>
    <!-- Check in table -->
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="event in eventStafflist track by $index">
                <b>{{event.eventName}}{{" Created: "}}{{event.created | date : fullDate }}</b>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tr class="check-in" ng-class="{hidden: staff.arrived, success: mouse.hover}" ng-repeat="staff in event.staffList track by $index | filter:search:strict" ng-click="checkIn(staff)" ng-mouseover="mouse.hover = true" ng-mouseleave="mouse.hover = false" ng-transclude>
                            <button class="btn btn-warning btn-block disabled ">Message late-comers</button>
                            <td>{{staff.number}}</td>
                            <td>
                                <p>{{staff.name + ' '}}
                                    <span class="glyphicon" ng-class="{'glyphicon-star-empty': staff.lieutenant || staff.position == 'Lt', 'glyphicon-leaf': staff.ntc, 'glyphicon-flash': staff.position == 'Alternate', 'glyphicon-glass': staff.position =='Bartender'}"></span>
                                </p>
                            </td>

                            <td class="hidden">{{staff.position}}</td>
                            <td>{{staff.calltime}}</td>
                            <td><a ng-href="{{'tel:'}}{{staff.phone}}" value="{{'+1'}}{{staff.phone}}">{{staff.phone}}</a>
                            </td>
                            <td class="hidden">{{staff.ntc}}</td>
                            <td>
                                <button class="btn btn-primary btn-block" ng-class="{'btn-danger': staff.arrived}">
                                    <span ng-if="!staff.arrived">Check in
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </span>

                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Check out Div -->
<div class="panel panel-info col-sm-8">
    <div class="input-group">
        <input ng-show-auth="logout" type="text" ng-model="user.username" placeholder="Username" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-primary" ng-click="register(auth, user)">Register</button>
        </span>
    </div>

    <div class="form-group">
        <h1>Check Out</h1>
        <input class="form-control hidden" type="search" ng-model="search" placeholder="Search list...">
    </div>
    <!-- Site in table -->
    <div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="event in eventStafflist track by $index">

                <b>{{event.eventName}}{{" Created: "}}{{event.created | date : fullDate }}</b>

                <div class="table-responsive">
                    <table class="table table-striped table-hover">

                        <tr class="checkIn" ng-class="{success: staff.siteIn, hidden: !staff.arrived || staff.siteOut}" ng-repeat="staff in event.staffList track by $index" ng-transclude>
                            <button class="btn btn-primary btn-block" ng-click="siteIn(event.staffList);">Site In @ {{time | date: 'shortTime'}}</button>
                            <td>
                                <button class="btn btn-danger glyphicon glyphicon-repeat" ng-click="checkIn(staff)"></button>
                            </td>
                            <td>{{staff.number}}</td>
                            <td>{{staff.name}}
                                <span class="glyphicon" ng-class="{'glyphicon-star-empty': staff.lieutenant || staff.position == 'Lt', 'glyphicon-leaf': staff.ntc, 'glyphicon-flash': staff.position == 'Alternate', 'glyphicon-glass': staff.position =='Bartender'}"></span>
                            </td>
                            <td class="hidden">{{'Checked in: ' + staff.arrived}}</td>
                            <td>{{staff.position}}</td>
                            <td>{{staff.calltime}}</td>
                            <td>
                                <textarea class="form-control" name="notes" id="notes" ng-model="staff.notes" cols="10" rows="1" placeholder="Notes..."></textarea>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="deMerit(staff)">
                                    <span class="glyphicon glyphicon-thumbs-down"></span>
                                </button>
                                <button class="btn btn-success" ng-click="merit(staff)">
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                </button>
                            </td>

                            <td>
                                <button class="btn btn-info btn-block" ng-click="siteOut(staff)">Site out
                                    <span class="glyphicon glyphicon-log-out"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
