<div class="page-header">
    <h1>Agenda</h1>
    <p>This is the agenda view.</p>
</div>
<div>
    <accordion close-others="true" ng-repeat="(key, event) in agenda">
        <accordion-group>
            <accordion-heading>{{'Address: ' + event.address + ', Uniform: ' + event.uniform}} <a ui-sref="auth.event-view({eventId: key})" class="pull-right">View Event
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </accordion-heading>{{event.creator}}</accordion-group>
    </accordion>
</div>
