<div class="panel card col-sm-7 col-md-8 col-lg-9 paper-shadow-top paper-shadow-top-z-1">
    <div class="panel embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/n1Bnl4e29GE" allowfullscreen></iframe>
    </div>
    <ul ng-repeat="(key, userData) in userEdit">
        <li>
            <div class="input-group">
                <span class="input-group-addon">{{key}}</span>
                <input type="text" class="form-control" placeholder="{{userData}}" ng-model="userData">
            </div>
        </li>
    </ul>
</div>
<profile class="col-sm-5 col-md-4 col-lg-3 paper-shadow-top paper-shadow-top-z-2 hidden-xs"></profile>
